<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="//192.168.2.13:35729/livereload.js"></script>

    <!-- Angular Core -->

    <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <!-- Styles -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="src/css/style.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Angular app -->
    <script type="text/javascript" src="src/js/app.js"></script>
    <script type="text/javascript" src="src/js/controllers.js"></script>
    <script type="text/javascript" src="src/js/services.js"></script>

  </head>
  <body ng-app="cfp">

    <div class="container-fluid" ng-controller="mainController">
      <div class="side-menu">
        <div class="heading">
        <h1>Centros de <span>Formacion Profesional</span></h1>

        <form class="" action="index.html" method="post">
          <div class="form-group">
            <label for="localidad">Buscar por localidad</label>
            <select class="form-control" id="localidad" ng-model="districtsInput" ng-change="selectDistrict()" name="districtInputName">
              <option value="{{$index}}" ng-repeat="district in districts">{{district.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="region">Buscar por region</label>
            <select class="form-control" id="region" ng-model="regionsInput" ng-change="selectRegion()" name="kakak">
              <option value="{{region}}" ng-repeat="region in regions">{{region}}</option>
            </select>
          </div>
        </form>
        </div>
        <div class="list-wrapper">
          <div class="list-scroller">


          <ul class="list-group">
            <li class="list-group-item" ng-repeat="center in centers" ng-click="selectCenter($index)" ng-class="{selected: selectedCenter == $index}">
              <h2>CFP Nº {{center.nombre}} de {{getDistrictName(center.numero_distrito)}}</h2>
              <p>{{center.direccion}}</p>
            </li>
          </ul>

          </div>
        </div>


      </div>
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="markers" coords="'coords'" fit="true">

        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
  </body>
</html>
