$brand: #4a4de7;
$brand-light: #7ea6f4;
$secondary: #a0e4f1;
//font-family: 'Lato', sans-serif;
//font-family: 'Montserrat', sans-serif;

*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
html, body{
	height: 100%;
}
h1, h2, h3, h4{
	margin: 0;
}
.container-fluid{
	height: 100%;
	max-height: 100%;
	background: #ccc;
	padding: 0;
	display: flex;
	//overflow: auto;
}
.side-menu{
	margin: 0;
	padding: 20px;
	height: 100%;
	max-height: 100%;
	width: 400px;
	background: #f8f8f8;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-shrink: 0;
	h1{
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		color: $brand;
		font-weight: normal;
		margin-top: 30px;
		margin-bottom: 40px;
		span{
			display: block;
			font-weight: bold;
			font-size: 24px;
		}
	}
	form{
		label{
			color: $brand;
		}
	}
	.heading{
	  flex-shrink: 0;
	}
	.list-wrapper{
		position: relative;
		height: 100%;
	}
	.list-scroller{
		position: absolute;
		max-height: 100%;
		height: 100%;
		width: 100%;
		overflow: scroll;

	}
	ul.list-group{
		margin: 0;
		padding: 0;
		li.list-group-item{
			//padding-left: 0;
			cursor: pointer;
			transition:all linear 0.1s;
			h2{
				color: $brand;
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 4px;
			}
			&:hover{
				background: #f6f6f6;
			}
			&:first-child{
				border-top: none;
			}
			&.selected{
				background: $brand;
				color: #fff;
				h2{
					color: #fff;
				}
			}
		}
	}
}
.angular-google-map{
	height: 100%;
	width: 100%;
}
.angular-google-map-container {
	height: 100%;
	width: 100%;
	flex-shrink: 0;
}
